  ../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../23 BNC to Walaja Ticket.pdf
        ../416-Tentative_Schedule_for_Counselling_of_Post_Graduate_Courses_2022_(1)_191.pdf
        ../Arjita - Chrome.lnk
        ../Arjita Narayan Resume (1).pdf
        ../BANK EXAMS FORM/
        ../CSS Notes(apna college).pdf
        ../CV Format - BIITM (2).docx
        ../Counselling_Brochure_-_2022_183 (1).pdf
        ../Counselling_Brochure_-_2022_183.pdf
        ../DOUBT IN THIS RULE.png
        ../DraftPrint.pdf
        ../Drag.Drop/
        ../Examination_Calendar for ssc.pdf
        ../FINAL PPT.pptx
        .vscode/
        ../Final Undertaking for Release of Payment.docx
        ../Fork.lnk
        ../GROUP2.pptx
        ../Ghosted (2023) English 1080p WEB-DL MSubs -BollyFlix--1.mkv
        ../HTML TUTORIAL/
        ../IBPS PO 2023.pdf
        ../IBPS PO 23.pdf
        ../IBPS PO result.png
        ../Imp Docs/
        ../JAVASCRIPT PROJECT/
        ../JavaScript notes(apna college)/
        ../Microsoft Edge.lnk
        ../MinGW Installer.lnk
        ../NPS-Calculator-Free-Download-Excel.xlsx
        ../New folder (2)/
        ../New folder/
        ../OJEE 2022 Confirmation Sheet.pdf
        ../OJEE 2022 Form.pdf
        ../OJEE SCHEDULE.pdf
        ../OPEN EDITORS/
        ../PROJECT REPORT OF COEB-1.docx
        ../Papa Certificate/
        ../RECRUITMENT OF OFFICER 80 POSTS_ENGLISH.pdf
        ../REPORT.pptx
        ../Resume.docx
        ../SS/
        ../SSC CGEL.pdf
        ../SSC JE.pdf
        ../Screenshot 2022-07-26 091920.png
        ../Screenshot 2022-08-26 223300.png
        ../Screenshot 2022-09-07 210514.png
        ../Screenshot 2022-09-08 001653.png
        ../Screenshot 2022-09-11 203256.png
        ../Screenshot 2022-09-12 100428.png
        ../Screenshot 2022-09-12 155237.png
        ../Screenshot 2022-09-24 133107.png
        ../Screenshot 2024-01-29 163935.png
        ../Screenshot 21.png
        ../Soil States in Mechanics.docx
        ../Step-by-Step_Procedure_-_2022_185.pdf
        ../TO DO LIST/
        ../The 5am Club.pdf
        ../VLC media player.lnk
        ../Visual Studio Code.lnk
        ../WEATHER.APP/
        ../arjita.docx
        ../banking crash course/
        ../banking/
        ../btech-1-sem-applied-mathematics-1-pam1a001-2020.pdf
        ../btech-1-sem-mathematics-1-rma1a001-2020.pdf
        ../btech-1-sem-mathematics-1-rma1a001-2022.pdf
        ../c++/
        ../cms error.png
        ../college project.docx
        ../college project.pptx
        ../courses/
        ../desktop.ini
        ../event project/
        ../experiment/
        ../exta advance soil mechanics.docx
        ../general awareness/
        ../git demo/
        ../graph_2.pdf
        ../left thumb.jpg
        ../maa ticket.pdf
        ../maths(08.06.22)/
        ../music-player/
        ../passport size photo/
        ../python/
        ../resume@01.docx
        ../sem7 ppt.docx
        ../smiley/
        ../ss.png
        ../~$ Format - BIITM (2).docx
        ../../Documents/
        ../../Pictures/